@media screen and (min-width: 0px) and (orientation: landscape) {
  #hubview {
    height: calc(calc(100vh - 48px) - 20px);
  }
  #papercharacters {
    top: calc(25vh - 12px);
    height: calc(50vh - 24px);
  }
}
@media screen and (min-width: 600px) {
  #hubview {
    height: calc(calc(100vh - 64px) - 20px);
  }
  #papercharacters {
    top: calc(25vh - 16px);
    height: calc(50vh - 32px);
  }
}
@media screen and (max-width: 600px) {
  #hubview {
    height: calc(calc(100vh - 56px) - 20px);
  }
  #papercharacters {
    top: calc(25vh - 14px);
    height: calc(50vh - 28px);
  }
}
