.HubView {
  position: absolute;
  height: calc(100vh - 56px);
  width: 100%;

  @media screen and (min-width: 0px) and (orientation: landscape) {
    height: calc(100vh - 48px);
  }
  @media screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }

  .Bugs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    padding-top: 16px;
    .BugDiv {
      width: auto;
      .BugListTitle {
        padding-left: 16px;
      }

      .BugList {
        width: 400px;
      }
    }
  }
}
