#hubview {
  height: calc(100vh - 56px);
}
#papercharacters {
  top: calc(25vh - 14px);
  height: 50%;
}
@media screen and (min-width: 0px) and (orientation: landscape) {
  #hubview {
    height: calc(100vh - 48px);
  }
  #papercharacters {
    top: 25%;
    height: 50%;
  }
}
@media screen and (min-width: 600px) {
  #hubview {
    height: calc(100vh - 64px);
  }
  #papercharacters {
    top: 25%;
    height: 50%;
  }
}
